html, body {
	height: 100%;
}
.top-div {
	height: 100px;
	width: 100%;
	border-bottom: 1px solid black;

}

top-div {
	width: 100%;
	height: 100%;

}

.logo {
	height: 90px;
	width: auto;
	float: left;
	margin: 5px;
}

#title {
	font-family: "Verdana";
	font-style: normal;
	
	font-size: 70px;
	float: left;
	margin-top: 10px; 
	margin-left: 20px;
}

.top-bar-btn {
	height: 30px;
	width: 60px;
	background-color: #7E717F;
	border: 1px white solid;
	border-radius: 3px;
	float: right;
	margin-top: 60px;
	margin-right: 5px;
	color: black;
}

.h-page-btn {
	height: 30px;
	width: 60px;
	background-color: #7E717F;
	border: 1px white solid;
	border-radius: 3px;
	color: black;	
}

.h-page-btn-login {
	height: 30px;
	background-color: #7E717F;
	border: 1px white solid;
	border-radius: 3px;
	color: black;	
}

.h-page-btn-signup {
	height: 30px;
	background-color: #7E717F;
	border: 1px white solid;
	border-radius: 3px;	
	color: black;
}

.submitStudentBtn {
	height: 30px;
	background-color: #7E717F;
	border: 1px white solid;
	border-radius: 3px;
	color: black;	
}

.createStudentBtn {
	height: 30px;
	background-color: #7E717F;
	border: 1px white solid;
	border-radius: 3px;
	color: black;
}

.createStudentDiv {
	position: relative;
	margin-top: 5%;
	margin-left: 45%;
	margin-right: auto;
}

.home-center {
	position: relative;
	margin-top: 5%;
	margin-left: 25%;
	margin-right: auto;
}

.incident-display {
	display: block;
}

#severity-display {
	display: block;
	margin-left: -35%;
}